[submodule "FedLC"]
	path = FedLC
	url = https://github.com/jcwang123/FedLC.git
[submodule "HSSF"]
	path = HSSF
	url = https://github.com/YxMa666/HSSF.git
[submodule "FedMM"]
	path = FedMM
	url = https://github.com/haoyuesong176/FedMM.git
