[submodule "FedLC"]
	path = FedLC
	url = https://github.com/jcwang123/FedLC.git
[submodule "HSSF"]
	path = HSSF
	url = https://github.com/YxMa666/HSSF.git
[submodule "FedMM"]
	path = FedMM
	url = https://github.com/haoyuesong176/FedMM.git
[submodule "FedDP"]
	path = FedDP
	url = git@github.com:jcwang123/FedDP.git
[submodule "SSADA"]
	path = SSADA
	url = https://github.com/TXY123lalala/ADSMI.git
